@charset "UTF-8";

/*Todas as demais Mídias*/

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: até 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px

Grandes telas: acima de 1200px
*/

@media print{
    body{
        background-image: url(../imagens/back-print.jpg); /* Desnecessário */

    }

    main{
        border: 2px solid black;
    }

    main::after{
        content: 'Essa impressão foi feita atráves do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    img#phone{ display: none;}
    img#tablet{display: none;}
    img#print{display:block;}
    img#PC{display:none;}
    img#TV{display:none;}



}

@media screen and (min-width: 768px) and (max-width:992px) { /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);

    }
    img#phone{ display: none;}
    img#tablet{display: block;}
    img#print{display:none;}
    img#PC{display:none;}
    img#TV{display:none;}



}

@media screen and (min-width: 992px) and (max-width: 1200px){/*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none;}
    img#tablet{display: none;}
    img#print{display:none;}
    img#PC{display:block;}
    img#TV{display:none;}


}

@media screen and (min-width: 1200px){/* grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 700px;
    }

    img#phone{ display: none;}
    img#tablet{display: none;}
    img#print{display:none;}
    img#PC{display:none;}
    img#TV{display:block;}


}